<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--헤더 영역-->
<div class="header">

    <!--헤드 라인-->
    <h1 align="center">안녕깝세요?</h1>

    <!--로그인 영역-->
    <div class="login-area">

        <!--로그인이 필요한 경우-->
        <th:block sec:authorize="isAnonymous()">
            <table>
                <tr>
                    <td>
                        <label class="text">ID : </label>
                    </td>
                    <td>
                        <input type="text" name="id">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="text">PWD : </label>
                    </td>
                    <td>
                        <input type="password" name="pwd">
                    </td>
                </tr>
            </table>
            <div class="btns" align="right">
                <input type="button" class="btn btn-yg" value="회원가입" id="regist">
                <input type="submit" class="btn btn-or" value="로그인" id="login">
            </div>
        </th:block>

        <th:block sec:authentication="isAuthenticated()">
            <!--로그인이 되어 있는 경우-->
            <h3><span sec:authentication="principal.username"></span>님 할룽</h3>
            <div class="btns">
                <input type="button" class="btn btn-yg" value="정보수정" id="updateMember">
                <input type="button" class="btn btn-or" value="로그아웃" id="logout">
            </div>
        </th:block>

    </div> <!--login-area end-->
</div>  <!--header end-->
<br clear="both"> <!--흐름 속성 제거-->
<div class="menu-area">
    <div class="nav-area">
        <ul>
            <li><a href="${ pageContext.servletContext.contextPath }">HOME</a></li>
            <li><a href="${ pageContext.servletContext.contextPath }/notice/list">공지사항</a></li>
            <li><a href="${ pageContext.servletContext.contextPath }/board/list">게시판</a></li>
            <li><a href="${ pageContext.servletContext.contextPath }/thumbnail/list">사진게시판</a></li>
        </ul>
    </div>	<!-- nav-area end -->
</div>	<!-- menu-area end -->
</body>
</html>





















